<!DOCTYPE html>
<meta charset="utf-8">
<style>
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>
<body>
  <div class= "plots"></div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="static/graphs/line.js"></script>
<script>
  console.log("connected!!!!!!!")
  const BUFFER_SIZE = 1000;
  const REFRESH_RATE = 1000;
  const socket = io("ws://" + window.location.host + "/data");
  const row_based = true


  data = {"timestamp_us": [], "mouse_pos": []}
  if(row_based){data = {"timestamp_us": [[]],"mouse_pos": [new Array(BUFFER_SIZE).fill(0), new Array(BUFFER_SIZE).fill(0)]}}

  margin = { top: 20, right: 20, bottom: 20, left: 40 }

  n = 32;
  charts = new Array(n)

  for(let i = 0; i < n; i++){
    svg = d3.select("body .plots")
      .append("svg")
        .attr("id", "plot"+i)
        .attr("width", 300)
        .attr("height", 300)

    x_range = [0,BUFFER_SIZE-1]
    y_range = [0,2380]

    charts[i] = make_chart(svg, ["timestamp_us", 0], {"mouse_pos": [0,1]}, x_range=x_range, y_range=y_range, row_based)
  }


  socket.on("response", (response) => {

    for(key in response){
      new_data = response[key]

      new_data_T = new_data[0].map((_, colIndex) => new_data.map(row => row[colIndex]));
      
      if(row_based){
        // (nxk) format
        data[key].forEach((item, index) => item.push.apply(item, new_data_T[index]))
      }
      else{
        // // (nxk) format
        data[key].push.apply(data[key], new_data);
      }
      // console.log("updating")
    }

    for(chart of charts){chart.update(data)}


    for(key in response){
      if(row_based){
        // (nxk) format
        data[key].forEach((item, index) => item.splice(0, item.length - BUFFER_SIZE))
      }
      else{
        // // (nxk) format
        data[key].splice(0, data[key].length - BUFFER_SIZE);
      }
      // console.log("updating")
    }


    // else {console.log(response)}
    setTimeout( () => {
        socket.emit("request");
      }, REFRESH_RATE);
    }
  );





  socket.on("connect", () => {
    console.log('Connected!');
    socket.emit("add_signal", "mouse_pos");
    socket.emit("add_signal", "timestamp_us");
    socket.emit("request");
    // setTimeout( () => {
    //   socket.emit("request", "read");
    // }, 10);
  });

</script>