<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="static/graphs/trace.js"></script>
  <script src="static/graphs/histogram.js"></script>
</head>
<style>
  .trace {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>

<body>
  <div class="plots">
  </div>
  <script>
    const socket = io("ws://" + window.location.host + "/data");

    const num_keep = 100;

    var data = [];
    const num_plots = 4;
    const width = 720;
    const height = 480;

    var dummydata = [
      { "Country": "USA", "Value": 18 },
      { "Country": "Canada", "Value": 213 },
    ];


    const plots = [
      create_trace(data, ".plots", "#trace0", width, height),
      create_trace(data, ".plots", "#trace1", width, height),
      create_histogram(dummydata, ".plots", "#hist0", width, height, ["USA", "Canada"]),
    ];
    // for (let i = 0; i < num_plots; i++) {
    //   plots.push(
    //     create_trace(
    //       data,
    //       ".plots",
    //       "#trace" + i,
    //       width,
    //       height
    //     )
    //   );
    // }

    socket.on("response", (response) => {
      data.push.apply(data, response);
      data.splice(0, data.length - num_keep);
      for (const plot of plots) {
        plot.update();
      }
    }
    );

    // on mouse click change dummydata
    addEventListener("click", function () {
      console.log("click");
      const america = dummydata[0].Value;
      dummydata.drop(0);
      dummydata.push.appl({ "Country": "USA", "Value": america + 1 });
    });
  </script>
</body>