<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v7.min.js"></script>
  <script src="static/graphs/trace.js"></script>
</head>
<style>
  .line {
    fill: none;
    stroke: #000;
    stroke-width: 1.5px;
  }

  .plots {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
</style>

<body>
  <div class="plots">
  </div>
  <script>
    const socket = io("ws://" + window.location.host + "/data");

    const num_keep = 100;

    var data = [];
    const num_plots = 4;
    const width = 720;
    const height = 480;

    const plots = [];
    for (let i = 0; i < num_plots; i++) {
      plots.push(
        create_trace(
          data,
          ".plots",
          "#trace" + i,
          width,
          height
        )
      );
    }

    socket.on("response", (response) => {
      data.push.apply(data, response);
      data.splice(0, data.length - num_keep);
      for (const plot of plots) {
        plot.update(data);
      }
    }
    );
  </script>
</body>